<h1>Data form <%= @site.name %></h1>
<%= div_for @collection_points do |collection_point| %>
    <b> Colelction Point: </b><%= collection_point.name %>
    <% collection_point.data_collections.all(:order => "collected_date DESC").each do |data_collection| %>
        <%= render 'data_collection', :data => data_collection %>
    <% end %>
<% end %>
